<div class="field">
  <%= f.label(:name, "Imię:")%><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="f">
  <%= f.label(:surname, "Nazwisko: ")%><br />
  <%= f.text_field :surname, autofocus: true %>
</div>

<div class="field">
  <%= f.label(:phone, "Wybierz stanowisko: ")%><br />
  <%= f.text_field :phone, autofocus: true%>
</div>

<br />
