
<% if user_signed_in? %>
<%= render(:partial => "layouts/sidebarAdmin") %>
        <div class="wrapper-login">
            <div class="container-fluid content">
                <div class="row">
                    <% if user_signed_in? and current_user.is_admin %>

                    <% elsif user_signed_in? and current_user.is_dispatcher %>
                    <% end %>
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Pracownicy</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="options newpack col-xs-12" style="height: 75%;">


                            <div class="">
                              <% if user_signed_in? and current_user.is_admin %>
                                <%= link_to("Panel administratora", {:controller => 'user', :action => 'index'}, :class=>"")%>
                                <table>
                                  <tr>
                                    <th>ID</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Email</th>
                                    <th>Data urodzenia</th>
                                    <th>Utworzono</th>
                                    <th>Aktualizowano</th>
                                    <th>Akcje</th>
                                  </tr>
                                  <% @users.each do |user|%>
                                    <tr>
                                      <th><%= user.id %></th>
                                      <th><%= user.name %></th>
                                      <th><%= user.surname %></th>
                                      <th><%= user.email %></th>
                                      <th><%= user.birth_date %></th>
                                      <th><%= user.created_at %></th>
                                      <th><%= user.updated_at %></th>
                                      <th>
                                        <%= link_to("Pokaż", {:action => 'show', :id => user.id}, :class=>"")%>
                                      </th>
                                    </tr>
                                  <% end %>
                                </table>
                              <% else %>
                                <h1>Nie jesteś zalogowany</h1>
                                <%= link_to "Zarejestruj się", new_user_registration_path %> lub <%= link_to "Zaloguj się", new_user_session_path %>
                              <% end %>
                            </div>


                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% end %>