<div class="">
  <h1>Użytkownicy</h1>
  <% if user_signed_in? %>
    <a href="/users/sign_out"  data_method="delete">Sign out</a>
    <table>
      <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Data urodzenia</th>
        <th>Pozycja</th>
        <th>Utworzono</th>
        <th>Aktualizowano</th>
        <th>Akcje</th>
      </tr>
      <% @users.each do |user|%>
        <tr>
          <th><%= user.id %></th>
          <th><%= user.name %></th>
          <th><%= user.surname %></th>
          <th><%= user.email %></th>
          <th><%= user.birth_date %></th>
          <th><%= user.position %></th>
          <th><%= user.created_at %></th>
          <th><%= user.updated_at %></th>
          <th>
            <%= link_to("Pokaż", {:action => 'show', :id => user.id}, :class=>"")%>
            <%= link_to("Edycja", {:action => 'edit', :id => user.id}, :class=>"")%>
            <%= link_to("Usuń", {:action => 'destroy', :id => user.id }, :class=>"")%>
          </th>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h1>Nie jesteś zalogowany</h1>
    <%= link_to "Zarejestruj się", new_user_registration_path %> lub <%= link_to "Zaloguj się", new_user_session_path %>
  <% end %>

</div>
