<h1>User</h1>
<th><%= @user.id %></th>
<th><%= @user.name %></th>
<th><%= @user.surname %></th>
<th><%= @user.email %></th>
<th><%= @user.birth_date %></th>
<th><%= @user.position %></th>
<th><%= @user.created_at %></th>
<th><%= @user.updated_at %></th>
