        <div class="wrapper-login">

            <div class="top-sidebar">
                <div class="pull-left">
                    <div class="logo-img">
                        <img src="images/logo.png" alt="logo koń kurier">
                    </div>
                </div>
                <div class="pull-right">
                    <div class="login-name">
                        <p><%= current_client.name + " " + current_client.surname %></p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3>Zapomniałeś hasła?</h3>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 text-center panel-outer">
                        <div class="panel">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>





                        </div>
                        <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>

        </div>
