        <div class="wrapper-login">
            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Klienci</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col-xs-12">
                              <% if user_signed_in? and current_user.is_admin %>
                                <%= link_to("Panel administratora", {:controller => 'user', :action => 'index'}, :class=>"")%>
                                <table>
                                  <tr>
                                    <th>ID</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Email</th>
                                    <th>Utworzono</th>
                                    <th>Aktualizowano</th>
                                  </tr>
                                  <% @clients.each do |client|%>
                                    <tr>
                                      <th><%= client.id %></th>
                                      <th><%= client.name %></th>
                                      <th><%= client.surname %></th>
                                      <th><%= client.email %></th>
                                      <th><%= client.created_at %></th>
                                      <th><%= client.updated_at %></th>
                                    </tr>
                                  <% end %>
                                </table>
                              <% else %>
                                <h1>Nie jesteś zalogowany</h1>
                                <%= link_to "Zarejestruj się", new_user_registration_path %> lub <%= link_to "Zaloguj się", new_user_session_path %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
