<div class="">
  <h1>Klienci</h1>
  <%= link_to("Dodaj klienta", {:controller => 'clients', :action => 'new'})%>
  <table>
    <tr>
      <th>ID</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Telefon</th>
      <th>Utworzono</th>
      <th>Aktualizowano</th>
      <th>Akcje</th>
    </tr>
    <% @clients.each do |client|%>
      <tr>
        <th><%= client.id %></th>
        <th><%= client.name %></th>
        <th><%= client.surname %></th>
        <th><%= client.email %></th>
        <th><%= client.phone %></th>
        <th><%= client.created_at %></th>
        <th><%= client.updated_at %></th>
        <th>
          <%= link_to("Pokaż", {:action => 'show', :id => client.id}, :class=>"")%>
          <%= link_to("Edycja", {:action => 'edit', :id => client.id}, :class=>"")%>
          <%= link_to("Usuń", {:action => 'destroy', :id => client.id }, :class=>"")%>
        </th>
      </tr>
    <% end %>
  </table>



</div>
