<h1>Klient</h1>
<th><%= @client.id %></th>
<th><%= @client.name %></th>
<th><%= @client.surname %></th>
<th><%= @client.email %></th>
<th><%= @client.phone %></th>
<th><%= @client.created_at %></th>
<th><%= @client.updated_at %></th>
