        <div class="wrapper-login">

            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12">
                            <h3>Logowanie pomyślne</h3>
                            <h5>Witamy w serwisie Koń Kurier</h5>
                        </div>
                        <div class="options col-xs-12">
                            <h5></h5>
                            <ul class="panel-option col-xs-12">

                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <a href="clients/edit">Edytuj dane</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-archive" aria-hidden="true"></i>
                                        <a href="orders/new">Nadaj paczkę</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        <a href="/clients/sign_out">Wyloguj się</a>
                                    </div>
                                </li>

                            </ul>
                          <div class="col-xs-12">
                          <div class="">
                            <!-- <h1>Użytkownicy</h1> -->
                            <% if client_signed_in? %>
                                <!-- <%= link_to('Logout', destroy_client_session_path, :method => :delete) %> -->
                              <div class="">
                                  <h5>Moje Paczki</h5>
<!--                                   <%= link_to("Nadaj paczke", {:controller => 'orders', :action => 'new'}, :class=>"")%> -->

                                  <div class="">
                                    <% @orders.each do |order| %>
                                      <% if order.client_id == current_client.id %>
                                        <p>
                                          Numer zamówienia: <%=order.order_number %>
                                          Status: <%=order.status%>
                                        </p>
                                        <br>
                                      <% end %>
                                    <% end %>
                                  </div>

                              </div>

                            <% else %>
                              <h1>Nie jesteś zalogowany</h1>
                              <%= link_to "Zarejestruj się", new_client_registration_path %> lub <%= link_to "Zaloguj się", new_client_session_path %>
                            <% end %>

                          </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
