        <div class="wrapper-login">

            <div class="top-sidebar">
                <div class="pull-left">
                    <div class="logo-img">
                        <%= image_tag("logo.png", alt: "Logo Kurier") %>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="login-name">
                        <p>Jakub Michnowicz</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid content">
                <div class="row">
                    <div class="sidebar">
                        <div class="sidebar-hide">
                            <i class="fa fa-bars open" aria-hidden="true"></i>
                            <p class="icon-desc">Rozwiń panel</p>
                        </div>
                        <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Zwiń panel</p>
                        </div>
                        <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Wróć</p>
                        </div>
                        <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Edycja danych klienta</p>
                        </div>
                         <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Edycja danych użytkownika</p>
                        </div>
                         <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Orders new</p>
                        </div>
                         <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Package new</p>
                        </div>
                        <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Nadaj paczkę</p>
                        </div>
                        <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Wyloguj się</p>
                        </div>
                    </div>
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12">
                            <h3>Logowanie pomyślne</h3>
                            <h5>Witamy w serwisie Koń Kurier</h5>
                        </div>
                        <div class="options col-xs-12">
                            <h5></h5>
                            <ul class="panel-option col-xs-12">
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-bars " aria-hidden="true"></i>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-bars " aria-hidden="true"></i>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-bars " aria-hidden="true"></i>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-bars " aria-hidden="true"></i>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-bars " aria-hidden="true"></i>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-bars " aria-hidden="true"></i>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </div>
                                </li>

                            </ul>
                          <div class="col-xs-12">
                          <div class="">
                            <!-- <h1>Użytkownicy</h1> -->
                            <% if client_signed_in? %>

                              <p>
                                <%= link_to('Logout', destroy_client_session_path, :method => :delete) %>
                              </p>

                              <div class="">
                                  <h4>PANEL KLIENTA</h4>
                              </div>

                              <div class="">
                                  <h5>Moje Paczki</h5>
                                  <%= link_to("Nadaj paczke", {:controller => 'orders', :action => 'new'}, :class=>"")%>

                                  <div class="">
                                    <% @orders.each do |order| %>
                                      <% if order.client_id == current_client.id %>
                                        <p>
                                          Numer zamówienia: <%=order.order_number %>
                                          Status: <%=order.status%>
                                        </p>
                                        <br>
                                      <% end %>
                                    <% end %>
                                  </div>

                              </div>

                              <div class="">
                                  <h4>Moje dane</h4>
                                  <p>Imie: <%= current_client.name %></p>
                                  <p>Nazwisko: <%= current_client.surname %></p>
                                  <p>Email: <%= current_client.email %></p>
                                  <p>Data rejestracji: <%= current_client.created_at %></p>
                                  <p>Data ostatniej modyfikacji: <%= current_client.updated_at %></p>
                                  <%= link_to "Edytuj dane", edit_client_registration_path %>
                              </div>



                            <% else %>
                              <h1>Nie jesteś zalogowany</h1>
                              <%= link_to "Zarejestruj się", new_client_registration_path %> lub <%= link_to "Zaloguj się", new_client_session_path %>
                            <% end %>

                          </div>
                        </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>




