<div class="">
  <h1>Użytkownicy</h1>
  <% if client_signed_in? %>
    <a href="/clients/sign_out"  data_method="delete">Sign out</a>
    <div class="">
        <h4>PANEL KLIENTA</h4>
    </div>

    <div class="">
        <h5>Moje Paczki</h5>
        <%= link_to("Nadaj paczke", {:controller => 'orders', :action => 'new'}, :class=>"")%>

        <div class="">
          <% @orders.each do |order| %>
            <% if order.client_id == current_client.id %>
              <p>
                Numer zamówienia: <%=order.order_number %>
                Status: <%=order.status%>
              </p>
              <br>
            <% end %>
          <% end %>
        </div>

    </div>

    <div class="">
        <h4>Moje dane</h4>
        <p><%= current_client.name %></p>
        <p><%= current_client.surname %></p>
        <p><%= current_client.email %></p>
        <p><%= current_client.created_at %></p>
        <p><%= current_client.updated_at %></p>
        <%= link_to "Edytuj dane", edit_client_registration_path %>
    </div>



  <% else %>
    <h1>Nie jesteś zalogowany</h1>
    <%= link_to "Zarejestruj się", new_client_registration_path %> lub <%= link_to "Zaloguj się", new_client_session_path %>
  <% end %>

</div>
