<div class="">
  <h1>Edytuj: <%= @courier.name %></h1>

  <%= link_to("Wróć", {:action => 'index'}) %>
  <%= form_for(:courier, :url => {:action => "update", :id => @courier.id}) do |field|%>
    <%= render(:partial => "form", :locals => {:field => field})%>
    <div >
      <%= submit_tag("Edytuj") %>
    </div>
  <% end %>
</div>
