<%= error(@order) %>

<table>
 <tr>
   <th> <%= field.label(:order_number, "Numer zamówienia:")%> </th>
   <th> <%= field.label(:order_number, $orderNumber)%> </th>
 </tr>
 <% if client_signed_in?%>
   <tr>
     <th> <%= field.label(:status, "Status:")%> </th>
     <td> <%= field.select :status, options_for_select(
          [['Do odebrania - przedpłata', 'Do odebrania - przedpłata'],
          ['Do odebrania - płatność przy odbiorze', 'Do odebrania - płatność przy odbiorze']])%>
     </td>
   </tr>
<% elsif user_signed_in?%>
  <tr>
    <th> <%= field.label(:status, "Status:")%> </th>
    <td> <%= field.select :status, options_for_select(
         [['Do odebrania - przedpłata', 'Do odebrania - przedpłata'],
         ['Do odebrania - płatność przy odbiorze', 'Do odebrania - płatność przy odbiorze'],
         ['Przyjęte przez kuriera', 'Przyjęte przez kuriera'],
         ['Przyjęte do magazynu', 'Przyjęte do magazynu'],
         ['Wydane z magazynu', 'Wydane z magazynu'],
         ['Dostarczone do odbiorcy', 'Dostarczone do odbiorcy']
         ])%>
    </td>  </tr>
 <%end %>

</table>
