<div class="">
  <h1>Edytuj zamówienie nr: <%= @order.order_number%></h1>
  <%= link_to("Wróć", {:action => 'index'}) %>
  <%= form_for(:order, :url => {:action => "update", :id => @order.id}) do |field|%>
    <%= render(:partial => "form", :locals => {:field => field})%>
    <div >
      <%= submit_tag("Zapisz zmiany") %>
    </div>
  <% end %>
</div>
