        <div class="wrapper-login">
            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Wszystkie zamówienia</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="options newpack col-xs-12" style="height: 75%;">


                          <div class="">
                            <% if user_signed_in?%>
                              <%= link_to("Panel administratora", {:controller => 'user', :action => 'index'}, :class=>"")%>
                              <p>
                                Ilość: <%= @orders.size %>
                              </p>
                              <%= link_to("Nowe zamówienie", {:controller => 'orders', :action => 'new'}, :class=>"")%>
                              <table>
                                <tr>
                                  <th>ID</th>
                                  <th>Numer</th>
                                  <th>Status</th>
                                  <th>Utworzono</th>
                                  <th>Aktualizowano</th>
                                  <% if current_user.is_admin %>
                                   <th>Akcje</th>
                                  <% end %>
                                </tr>
                                <% @orders.each do |order|%>
                                  <tr>
                                    <th><%= order.id %></th>
                                    <th><%= order.order_number %></th>
                                    <th><%= order.status %></th>
                                    <th><%= order.created_at %></th>
                                    <th><%= order.updated_at %></th>
                                    <% if current_user.is_admin %>
                                      <th>
                                        <%= link_to("Pokaż", {:action => 'show', :id => order.id}, :class=>"")%>
                                        <%= link_to("Edycja", {:action => 'edit', :id => order.id}, :class=>"")%>
                                        <%= link_to("Usuń", {:action => 'destroy', :id => order.id }, :class=>"")%>
                                      </th>
                                    <% end %>
                                  </tr>
                                <% end %>
                              </table>
                            <% end %>


                          </div>


                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





