<<<<<<< HEAD
        <div class="wrapper-login">

            <div class="top-sidebar">
                <div class="pull-left">
                    <div class="logo-img">
                        <%= image_tag("logo.png", alt: "Logo Kurier") %>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="login-name">
                        <p>Jakub Michnowicz</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid content">
                <div class="row">
                    <div class="sidebar">
                        <div class="sidebar-hide">
                            <i class="fa fa-bars open" aria-hidden="true"></i>
                            <p class="icon-desc">Rozwiń panel</p>
                        </div>
                        <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-bars " aria-hidden="true"></i>
                            <p class="icon-desc">Zwiń panel</p>
                        </div>
                        <a href="/client_panel">
                          <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-archive" aria-hidden="true"></i>
                            <p class="icon-desc">Menager paczek</p>
                          </div>
                        </a>
                        <a href="/orders/new">
                          <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            <p class="icon-desc">Nadaj paczkę</p>
                          </div>
                        </a>
                        <a href="/clients/edit">
                          <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <p class="icon-desc">Edytuj dane klienta</p>
                          </div>
                        </a>
                        <a href="/clients/sign_out">
                          <div class="sidebar-hide hidesidebar">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <p class="icon-desc">Wyloguj się</p>
                          </div>
                        </a>
                    </div>
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Dodaj nowe zamówienie</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="options newpack col-xs-12" style="height: 75%;">
                            <!-- <h5>Opcje</h5> -->



                          <% if client_signed_in? %>
                            <%= link_to("Wróć", {:controller => "client_panel", :action => "index"}) %>
                          <% elsif user_signed_in? %>
                            <%= link_to("Wróć", {:action => 'index'}) %>
                          <% end %>

                          <%= form_for(:order, :url => {:action => "create"}) do |field|%>
                            <%= render(:partial => "form", :locals => {:field => field})%>
                            <div >
                              <%= submit_tag("Dodaj") %>
                            </div>
                          <% end %>


                        </div>
                    </div>
                </div>
            </div>

        </div>
