<%= @orderNumber %>

<div class="">
  <h1>Dodaj nowe zamówienie</h1>
  <%= link_to("Wróć", {:action => 'index'}) %>
  <%= form_for(:order, :url => {:action => "create"}) do |field|%>
    <%= render(:partial => "form", :locals => {:field => field})%>
    <div >
      <%= submit_tag("Dodaj") %>
    </div>
  <% end %>
</div>
