<h1>Zamówienia</h1>
<p>
  Numer zamówienia: <b><%= @order.order_number %><br></b>
  Status: <b><%= @order.status %><br></b>
  ID magazynu: <b><%= @order.warehouse_id %><br></b>
  ID dyspozytorni: <b><%= @order.dispatcher_office_id %><br></b>
  ID kuriera: <b><%= @order.courier_id %><br></b>
  ID klienta: <b><%= @order.client_id %><br></b>
</p>
<%= link_to("Back", {:action => 'index'}) %>
