        <div class="wrapper-login">

            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12">
                            <h3>Zaplecze administratora</h3>
                            <h5>Koń Kurier</h5>
                        </div>
                        <div class="options col-xs-12">
                            <h5></h5>
                            <ul class="panel-option col-xs-12">
 <!--                                <p>
                                  <%= link_to("Strona główna", {:controller => 'home', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to("Klienci", {:controller => 'clients', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to("Pracownicy", {:controller => 'users', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to("Wszystkie zamówienia", {:controller => 'orders', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to("Paczki", {:controller => 'packages', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to("Magazyny", {:controller => 'warehouses', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to("Dyspozytornie", {:controller => 'dispatchers_office', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to("Kurierzy", {:controller => 'couriers', :action => 'index'}) %>
                                </p>
                                <p>
                                  <%= link_to('Logout', destroy_client_session_path, :method => :delete) %>
                                </p> -->
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <a href="/">Strona główna</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <a href="/clients">Klienci</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <a href="/users">Pracownicy</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-list-ol" aria-hidden="true"></i>
                                        <a href="/orders">Wszystkie zamówienia</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-archive" aria-hidden="true"></i>
                                        <a href="/packages">Paczki</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-building" aria-hidden="true"></i>
                                        <a href="/warehouses">Magazyny</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-building" aria-hidden="true"></i>
                                        <a href="/dispatchers_office">Dyspozytornie</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                        <a href="/couriers">Kurierzy</a>
                                    </div>
                                </li>
                                <li class="panel-option-single col-xs-2">
                                    <div class="inner">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        <a href="/clients/sign_out">Wyloguj się</a>
                                    </div>
                                </li>

                            </ul>
                          <div class="col-xs-12">

                          </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
