        <div class="wrapper-login">
            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Dyspozytornie</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="options newpack col-xs-12" style="height: 75%;">


                          <div class="">
                            <% if user_signed_in? and current_user.is_admin %>
                              <%= link_to("Panel administratora", {:controller => 'user', :action => 'index'}, :class=>"")%>
                              <p>
                                Ilość: <%= @dispatchers.size %>
                              </p>
                              <%= link_to("Nowa dyspozytornia", {:controller => 'dispatchers_office', :action => 'new'}, :class=>"")%>
                              <table>
                                <tr>
                                  <th>ID</th>
                                  <th>Nazwa</th>
                                  <th>Adres</th>
                                  <th>Utworzono</th>
                                  <th>Aktualizowano</th>
                                  <th>Akcje</th>
                                </tr>
                                <% @dispatchers.each do |dispatcher|%>
                                  <tr>
                                    <th><%= dispatcher.id %></th>
                                    <th><%= dispatcher.name %></th>
                                    <% if dispatcher.local_number.present? %>
                                      <th><%= dispatcher.city %>, <%= dispatcher.street %><br>
                                         <%= dispatcher.house_number%>/<%=dispatcher.local_number%> <%= dispatcher.postcode %></th>
                                    <% else %>
                                      <th><%= dispatcher.city %>, <%= dispatcher.street %><br>
                                       <%= dispatcher.house_number%> <%= dispatcher.postcode %></th>
                                    <% end %>
                                    <th><%= dispatcher.created_at %></th>
                                    <th><%= dispatcher.updated_at %></th>
                                    <th>
                                      <%= link_to("Pokaż", {:action => 'show', :id => dispatcher.id}, :class=>"")%>
                                      <%= link_to("Edycja", {:action => 'edit', :id => dispatcher.id}, :class=>"")%>
                                      <%= link_to("Usuń", {:action => 'destroy', :id => dispatcher.id }, :class=>"")%>
                                    </th>
                                  </tr>
                                <% end %>
                              </table>
                            <% end %>
                          </div>


                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>