        <div class="wrapper-login">

            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Usuwanie magazynu</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="options newpack col-xs-12" style="height: 75%;">


                            <div class="">

                              <table>
                                <tr>
                                  <th> <%= field.label(:name, "Nazwa:")%> </th>
                                  <td> <%= field.text_field(:name)%></td>
                                </tr>
                                <tr>
                                  <th> <%= field.label(:city, "Miasto: ")%> </th>
                                  <td> <%= field.text_field(:city)%></td>
                                </tr>
                                <tr>
                                  <th> <%= field.label(:street, "Ulica: ")%> </th>
                                  <td> <%= field.text_field(:street)%></td>
                                </tr>
                                <tr>
                                  <th> <%= field.label(:house_number, "Numer domu: ")%> </th>
                                  <td> <%= field.text_field(:house_number)%></td>
                                </tr>
                                <tr>
                                  <th> <%= field.label(:local_number, "Adres mieszkania: ")%> </th>
                                  <td> <%= field.text_field(:local_number)%></td>
                                </tr>
                                <tr>
                                  <th> <%= field.label(:postcode, "Kod pocztowy: ")%> </th>
                                  <td> <%= field.text_field(:postcode)%></td>
                                </tr>
                                <tr>
                                  <th> <%= field.label(:capacity, "Pojemność: ")%> </th>
                                  <td> <%= field.number_field(:capacity)%></td>
                                </tr>
                              </table>

                            </div>


                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>









