<table>
  <tr>
    <th> <%= field.label(:name, "Nazwa:")%> </th>
    <td> <%= field.text_field(:name)%></td>
  </tr>
  <tr>
    <th> <%= field.label(:address, "Adres: ")%> </th>
    <td> <%= field.file_field(:address)%></td>
  </tr>
  <tr>
    <th> <%= field.label(:capacity, "Pojemność: ")%> </th>
    <td> <%= field.file_field(:capacity)%></td>
  </tr>

</table>
