        <div class="wrapper-login">
            <div class="container-fluid content">
                <div class="row">
                    <div class="content-main col-xs-12">
                        <div class="header col-xs-12 text-center">
                            <h3 style="margin: 25px 0px 30px 60px;">Warehouses</h3>
                            <!-- <h5>Witamy w serwisie Koń Kurier</h5> -->
                        </div>
                        <div class="options newpack col-xs-12" style="height: 75%;">


                            <div class="">

                                <h3><%= @warehouse.name %></h3>
                                <% if @warehouse.local_number.present? %>
                                <p>
                                Adres magazynu: <%= @warehouse.city %>,  <%= @warehouse.street %>  <%= @warehouse.house_number %>/<%= @warehouse.local_number %>  <%= @warehouse.postcode %>
                                </p>
                                <% else %>
                                <p>
                                Adres magazynu: <%= @warehouse.city %>,  <%= @warehouse.street %>  <%= @warehouse.house_number %> <%= @warehouse.postcode %>
                                </p>
                                <% end %>
                                <p>
                                Pojemność magazynu: <%= @warehouse.capacity %>
                                </p>
                                <h3>Paczki w magazynie</h3>
                                PUSTO

                            </div>


                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>