<h1>Warehouses</h1>
<h3><%= @warehouse.name %></h3>
<% if @warehouse.local_number.present? %>
  <p>
    Adres magazynu: <%= @warehouse.city %>,  <%= @warehouse.street %>  <%= @warehouse.house_number %>/<%= @warehouse.local_number %>  <%= @warehouse.postcode %>
  </p>
<% else %>
  <p>
    Adres magazynu: <%= @warehouse.city %>,  <%= @warehouse.street %>  <%= @warehouse.house_number %> <%= @warehouse.postcode %>
  </p>
<% end %>
<p>
  Pojemność magazynu: <%= @warehouse.capacity %>
</p>
<h3>Paczki w magazynie</h3>
PUSTO
